body{
    margin: 0;
    padding: 0;
    color: #531a09;
}
.header{
    border-radius: 4px;
    text-align: center;
    margin: 10px;
}
.header h1{
    margin: 0;
    padding: 0;
}
#wholeBody{
    margin:  auto 10px 10px 10px;
    padding: 10px;
    padding-bottom: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color:rgb(215, 211, 211);
    display: flex;
    flex-direction: row;
    align-items: start;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.left-side{
    display: flex;
    flex: 50%;
    justify-content: center;
}
.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: end;*/
    padding: 50px;
}
.input-container{
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}
input[type =number]{
    border: 3px solid #531a09;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
#enterButton{
    background-color: white; 
    border: 2px solid #531a09;
    border-radius: 5px;
    color: #531a09;
    padding: 10px 32px;
    font-size: 16px;
    transition-duration: 0.4s;     
    cursor: pointer;
}
#enterButton:hover{
    background-color: #531a09; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.instruction{
    text-align: center;
}
#resetButton{  
    background-color: white; 
    border: 2px solid #531a09;
    border-radius: 5px;
    color: #531a09;
    padding: 15px 32px;
    font-size: 16px;
    transition-duration: 0.4s;   
    cursor: pointer;
    margin-top: 150px;

}
#resetButton:hover {
    background-color: #421d11; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.grid-item {
    background-color: gray; 
    border: 0.8px solid rgb(255, 241, 241); 
    width: 100%; 
  }
#grid-container {
    /* dynamic columns and rows */
    display: grid;
    background-color: white;
    border: 2px solid #531a09; /* Border for visualization */
    border-radius: 0px;
    padding: 2px;
    margin: 2px;
    min-height: 520px;
    min-width: 620px;
    height: auto;
    width: auto; /* Ensure grid items fit within the container */
    cursor: crosshair;
}
.grid-item:hover{
    background-color: #531a09;
    border: 3px solid #531a09;
    
}
.sketched{
    background-color: #531a09;
    transition-duration: 0.4s;  
}
.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}